<div class="card-align" >
    <mat-card class="card mat-elevation-z0">
        <mat-card-title
            ><mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="edit"
            ></mat-icon
        ></mat-card-title>
        <mat-card-subtitle>Email Subscription</mat-card-subtitle>
        <mat-card-content>
            <p>
               Subscribe/Unsubscribe Email
            </p>
            <button mat-button color="primary" (click)="subscribe()">
                Subscribe
            </button>
            <button mat-button color="primary" (click)="unsubscribe()">
                Unsubscribe
            </button>
        </mat-card-content>
    </mat-card>
</div>
