<div class="outer">
	<div class="container">
     <div class="row">
      <!-- <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3"> -->
		<div class="panel border bg-white">
			<div class="panel-heading">
             <h3 class="pt-3 font-weight-bold">
				Login
			 </h3>

			</div>
            <div class="panel-body p-3">
				<mat-spinner class="center" *ngIf="isSpinnerStarted"></mat-spinner>
				<form [formGroup]="loginForm">
                <div class="form-group pt-3">
                  <div class="input-field" [class.error]="loginForm.controls['username'].dirty && loginForm.hasError('required', 'username')">
                   <span class="fa fa-user p-2"></span>
                   <input formControlName ="username" type="text" placeholder="Username">
				  </div>
				</div>
				<small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required', 'username')" class="text-danger">*Username is required</small>
				<div class="form-group pt-3">
					<div class="input-field" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">
					 <span class="fa fa-lock p-2"></span>
					 <input formControlName ="password" [type]="type" placeholder="Password">
					 <span (click) = "hideShowPass()" class="fa {{eyeIcon}}"></span>
					</div>
				  </div>
				  <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')" class="text-danger">*Password is required</small>
				  <div class="form-inline fr mt-4">
					<a type="button" [routerLink]="['/passwordupdate']" id="forget" class="font-weight-bold">Forget Password?</a>
				  </div>
                  <button (click) ="onSubmit()" type="submit" class=" btn btn-primary btn-block mt-4 w-100">Login</button>
                 <div class="text-center pt-4 text-muted">Don't have account? <a type="button" [routerLink]="['/signup']" id="forget" >Sign Up</a></div>
				</form>
			</div>
			<div class="mx-3 my-2 py-2 bordert">
				<div class="text-center py-3">
					<a href="https://www.facebook.com" target="_blank" class="px-2"><img src="https://www.dpreview.com/files/p/articles/4698742202/facebook.jpeg" alt=""></a>
					<a href="https://www.google.com" target="_blank" class="px-2"><img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" alt=""></a>
					<a href="https://www.github.com" target="_blank" class="px-2"><img src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png" alt=""></a>

				</div>
			</div>

		</div>
	  <!-- </div> -->

	 </div>

	</div>
</div>

<!-- <!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup" >
				<mat-spinner class="center" *ngIf="isRegistrationSpinnerStarted"></mat-spinner>
				<form [formGroup]="form" (ngSubmit)="register()">
					<label for="chk" aria-hidden="true">Sign up</label>
					
					<input formControlName="userName" class="form-control" type="text" name="txt" placeholder="User Name" required="">
                    <input formControlName="firstName" class="form-control" type="text" name="firstN" placeholder="First Name" required="">
                    <input formControlName="lastName" class="form-control" type="text" name="lastN" placeholder="Last Name" required="">
					<input formControlName="email" class="form-control" type="email" name="email" placeholder="Email" required="">
					<input formControlName="password" class="form-control" type="password" name="pswd" placeholder="Password" required="">
                    <input formControlName="passwordConfirm" class="form-control" type="password" name="pswdConf" placeholder="Password Confirm" required="">
					<button type="submit">Sign up</button>
				</form>
			</div>

			<div class="login">
				<mat-spinner class="center" *ngIf="isSpinnerStarted"></mat-spinner>
				<form [formGroup]="loginForm" (ngSubmit)="login()">
					<label for="chk" aria-hidden="true">Login</label>
					<input formControlName="email" type="email" name="email" placeholder="Email" required="">
					<input [ngClass]="isPasswordInvalid  ? 'error' : ''" formControlName="password" type="password" name="pswd" placeholder="Password" required="">
					<mat-error class="password" *ngIf="isPasswordInvalid">
						{{errorMessage}}
					</mat-error>
					<button type="submit">Login</button>
				</form>
			</div>
	</div>

</body>
</html> -->
