<div class="example-button-row">
    <div class ="example-flex-container" >
     
        <button class="" *ngIf="isDisplay =='active'"  mat-icon-button matTooltip= 
        "Hide Applicant"
        matTooltipClass="primary-tooltip" matTooltipPosition="above" color="warn" (click)="hideRow()">
            <mat-icon   class="inline-icon"  >archive</mat-icon>
        </button>
    
        <button *ngIf="isDisplay =='inactive'" mat-icon-button matTooltip= 
        "UnHide Applicant"
            matTooltipPosition="above" color="warn" (click)="hideRow()"
            matTooltipClass="primary-tooltip"  matTooltipClass="primary-tooltip">
            <mat-icon   class="inline-icon">unarchive</mat-icon>
        </button>
    
        <button  mat-icon-button matTooltip=  
        "Delete Applicant"
            matTooltipPosition="above" color="warn" (click)="hideRow()"
            matTooltipClass="primary-tooltip">
            <mat-icon   class="inline-icon">delete_forever</mat-icon>
        </button>
    
      
       <div *ngIf="isPinned"  [ngClass]="isPinned ? 'icon-pin-filled cursor-pointer': 'icon-pin-outlined cursor-pointer'" (click)="onPinItem()" matTooltip= 
       "Unpin Applicant"
           matTooltipPosition="above"  matTooltipClass="primary-tooltip" style="margin-top: 13px;">{{isPinned}}</div>
       <div *ngIf="!isPinned" appPinIconHoover [mouseEnter]="'icon-pin-filled cursor-pointer'" [mouseLeave]="'icon-pin-outlined cursor-pointer'"  [ngClass]="isPinned ? 'icon-pin-filled cursor-pointer': 'icon-pin-outlined cursor-pointer'"  (click)="onPinItem()" matTooltip= 
       "Pin Applicant"
           matTooltipPosition="above" style="margin-top: 13px;"> {{isPinned}}
        </div>
        <!-- <div> -->
            <button  mat-icon-button matTooltip= 
             "Edit Applicant"
            matTooltipPosition="above"
            matTooltipClass="primary-tooltip" color="primary" (click)="editRow()">
            <mat-icon   class="inline-icon">edit</mat-icon>
        </button>
        <button  mat-icon-button matTooltip= 
        "View Details"
       matTooltipPosition="above" 
       matTooltipClass="primary-tooltip" color="primary" (click)="setViewTemplate()">
       <mat-icon   class="inline-icon">visibility</mat-icon>
    </button>
        <!-- </div> -->
           <!-- <button (click)="edit($event)" mat-icon-button coler="accent"><i class="fa fa-pencil"></i></button> -->
    </div>
</div>

