<div>
    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Filter</mat-label>
        <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="fiter value"
            #input
        />
    </mat-form-field>
</div>

<table  mat-table [dataSource]="dataSource" matSort>
    <ng-container
        [matColumnDef]="col"
        *ngFor="let col of displayColumns; let i = index"
    >
        <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="table-column-header"
        >
            {{ capitalize(col) }}
        </th>
        <div *ngIf="col !== 'action'">
            <td class="table-column-row" mat-cell *matCellDef="let row">
                <div *ngIf="i === 0">
                    <button
                        class="link-button"
                        color="primary"
                        (click)="editRow(row)"
                    >
                        {{ row[col] }}
                    </button>
                </div>
                <div *ngIf="i !== 0">
                    {{ row[col] }}
                </div>
            </td>
        </div>
        
        <td class="table-column-row" mat-cell *matCellDef="let row">
            <div class="row">
                <button mat-icon-button matTooltip= 
                "Hide Applicant"
                    matTooltipPosition="below" color="warn" (click)="hideRow(row)">
                    <mat-icon class="inline-icon">delete</mat-icon>
                    </button>
                <button mat-icon-button matTooltip= 
                "Delete Applicant"
                    matTooltipPosition="below" color="warn" (click)="deleteRow(row)">
                    <mat-icon class="inline-icon">delete_forever</mat-icon>
                    </button>             
            </div>
            
            <mat-checkbox
            *ngIf="showCheckbox"
                #c
                (click)="onClick(c.checked, row)"
                >{{ checkboxLabel }}</mat-checkbox
            >
            <button
                *ngIf="viewHistory"
                class="link-button customIconSize"
                mat-button
                color="primary"
                (click)="viewFileHistory(row)"
            >
              <span style="font-size: x-small !important;">View History</span>  
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
    <!-- Row shown when there is no matching data. -->
    <div *ngIf="dataSource.data.length === 0">
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data</td>
        </tr>
    </div>
</table>
<div class="row example-full-width" style="background-color: white">
    <div class="col-md-6" *ngIf="dataSource.data.length > 0">
        <button mat-button color="primary" (click)="goback()">
            <mat-icon>fast_rewind</mat-icon>
            Back
        </button>
    </div>
    <div class="col-md-6">
        <mat-paginator
            [hidden]="!dataSource.data.length"
            [pageSizeOptions]="[15, 25, 35, 50, 100]"
            aria-label="Select page of
        files"
        >
        </mat-paginator>
    </div>
</div>
