<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <base href="/" />
    </head>
    <body>
        <mat-toolbar  class="mat-elevation-z4 navbar" color="primary">
            <a href="/" class="title">One Nation Auto Loans</a>
            <div class="toolbar-spacer"></div>
            <table>
                <tr>
                    <td>
                        <button
                        mat-raised-button
                        *ngIf="!isUserLoggedIn"
                        (click)="loginPopup()"
                    >
                        Login
                    </button>
                    </td>
                    <td>
                        <button mat-raised-button *ngIf="isUserLoggedIn" (click)="logout()">
                            Logout
                        </button>
                    </td>
                    <td>
                        <button mat-icon-button >
                            <mat-icon class="login-icon">person</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>
         
            <p style="font-size: small; color: black">{{ getLoggedInUser() }}</p>
        </mat-toolbar>
        <app-side-navigation *ngIf="getAccount()"></app-side-navigation>
    </body>
</html>
