<div class="form-margin">
<form [formGroup]="employmentForm" (ngSubmit)="submit()" >
    <mat-card class="example-card success-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title class="success-card-title">Employment Form</mat-card-title>
            <!-- <mat-card-subtitle class="success-card-subtitle">mat-sm-card-image</mat-card-subtitle> -->
            <!-- <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" > -->
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="success-card-content2">
         <b>Name:</b> {{applicant}} <br>
         <b>Email:</b>  {{applicantEmail}} <br>
         <b>Phone:</b> {{applicantPhone}} <br>
         <b>Address:</b> {{applicantAddress}} <br>
        </mat-card-content>
      </mat-card>
      <br>
    <mat-card class="example-card success-card">
        <mat-card-header>
            <!-- <mat-card-title class="success-card-title">
             <p>Employment Form</p>  
            </mat-card-title> -->
            <!-- <mat-card-subtitle class="success-card-subtitle">{{applicant}}</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            <div >
                <mat-form-field [hidden]="true" class="small-height-input">
                    <input formControlName="pk" matInput placeholder="pk"  type="input">
                </mat-form-field>
                <mat-form-field [hidden]="true" class="small-height-input">
                    <input formControlName="sk" matInput placeholder="sk"  type="input">
                </mat-form-field>
                <mat-form-field [hidden]="true" class="small-height-input">
                    <input formControlName="gsI1PK" matInput placeholder="gsI1PK"  type="input">
                </mat-form-field>
                <mat-form-field [hidden]="true" class="small-height-input">
                    <input formControlName="gsI1SK" matInput placeholder="gsI1SK"  type="input">
                </mat-form-field>
                <mat-form-field [hidden]="true" class="small-height-input">
                    <input formControlName="documentType" matInput placeholder="documentType"  type="input">
                </mat-form-field> 
                    <!-- <div class="well"> -->
                    <button
                    type="button"
                     mat-icon-button
                        color="primary"
                        (click)="addEmployment()"
                       
                        matTooltip="Add Employment"
                    >
                    <span  class="form-title2">Add Employment </span>
                    <mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="add_to_photos"
                ></mat-icon>

                </button>  
                    <div
                        *ngIf="isEmploymentExists() > 0"
                        formArrayName="employmentList"     
                    >
                        <div
                            *ngFor="
                                let emp of getEmployment()?.controls;
                                let i = index
                            "
                            [formGroupName]="i"
                        >
                            <div class="">
                                <div>         
                                </div>
                                <div>
                                    <button
                                    type="button"
                                    mat-icon-button
                                        color="accent"
                                        (click)="removeEmployment(i)"
                                        matTooltip= "Delete Employment"  
                                       matTooltipPosition="below"
                                    >
                                    <span class="form-title">Employment {{ i + 1 }}</span>
                                    <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <br>
    
                            <!-- <div class="row"> -->
                                <div class="row">
                                    <mat-form-field 
                                    appearance="outline"  
                                    color="primary"
                                >
                                <mat-label>Employment Status</mat-label>
                                <mat-select  formControlName="employmentStatus">
                                    <mat-option
                                        *ngFor="let estat of empStatus"
                                        [value]="estat.viewValue"
                                    >
                                        {{ estat.viewValue }}
                                    </mat-option>
                                </mat-select>
                                </mat-form-field >
                               </div>
                               <div class="row">
                                <mat-form-field
                                class=""  
                                appearance="outline"  
                            >
                            <mat-label>Employment Type</mat-label>
                            <mat-select formControlName="employmentType">
                                <mat-option
                                    *ngFor="let etype of empType"
                                    [value]="etype.viewValue"
                                >
                                    {{ etype.viewValue }}
                                </mat-option>
                            </mat-select>
                            </mat-form-field >
                           </div>

                           <div class="row">
                            <mat-form-field
                                appearance="outline"
                            >
                                <mat-label>Organization Name</mat-label>
                                <input
                                    formControlName="organizationName"
                                    matInput
                                    placeholder="Organization Name"
                                />
                            </mat-form-field>
                        </div>
                                <div class="row">
                                    <mat-form-field  
                                        appearance="outline"
                                    >
                                        <mat-label>Street</mat-label>
                                        <input
                                            formControlName="street"
                                            matInput
                                            placeholder="Street"
                                            value=""
                                        />
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field
                                        appearance="outline"      
                                    >
                                        <mat-label>City</mat-label>
                                        <input
                                            formControlName="city"
                                            matInput
                                            placeholder="City"
                                            value=""
                                        />
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field  
                                        appearance="outline" 
                                    >
                                        <mat-label class="">Province</mat-label>
                                        <input
                                            formControlName="province"
                                            matInput
                                            placeholder="Province"
                                            value=""
                                        />
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field
                                        appearance="outline"    
                                    >
                                        <mat-label>Country</mat-label>
                                        <input
                                            formControlName="country"
                                            matInput
                                            placeholder="Country"
                                        />
                                    </mat-form-field>
                                </div>

                                <div class="row">
                                    <mat-form-field   
                                        appearance="outline"  
                                    >
                                        <mat-label>Postal Code</mat-label>
                                        <input
                                            formControlName="postalCode"
                                            matInput
                                            placeholder="Postal Code"
                                            value=""
                                        />
                                    </mat-form-field>
                                </div>

                                <div class="row">
                                    <mat-form-field
                                        appearance="outline"   
                                    >
                                        <mat-label>Phone</mat-label>
                                        <input
                                            formControlName="phone"
                                            matInput
                                            placeholder="Phone"
                                        />
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field
                                        appearance="outline"    
                                    >
                                        <mat-label>Employment Years</mat-label>
                                        <input
                                            formControlName="employmentYears"
                                            matInput
                                            placeholder="Employment Years"
                                        />
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field
                                        appearance="outline"    
                                    >
                                        <mat-label>Employment Months</mat-label>
                                        <input
                                            formControlName="employmentMonths"
                                            matInput
                                            placeholder="Employment Months"
                                        />
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field  
                                        appearance="outline"   
                                    >
                                        <mat-label>Gross Income</mat-label>
                                        <input
                                            formControlName="grossIncome"
                                            matInput
                                            placeholder="Gross Income"
                                            value=""
                                        />
                                    </mat-form-field>
                                </div>

                                <div class="row">
                                    <mat-form-field 
                                     appearance="outline"
                                     >
                                        <mat-label>Start Date</mat-label>
                                        <input matInput [matDatepicker]="picker"
                                        formControlName ="startDate"
                                        >
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                      </mat-form-field>
                                </div>

                                <div class="row">
                                    <mat-form-field 
                                    appearance="outline"
                                    >
                                        <mat-label>End Date</mat-label>
                                        <input matInput [matDatepicker]="picker2"
                                        formControlName ="endDate"
                                        >
                                        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                      </mat-form-field>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                <!-- </div> -->
                <br>
                <div class="row">
                    <mat-form-field
                        appearance="outline"    
                    >
                        <mat-label>Occupation</mat-label>
                        <input
                            formControlName="occupation"
                            matInput
                            placeholder="Occupation"
                        />
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field
                    appearance="outline"   
                >
                    <mat-label class="">Other Income</mat-label>
                    <input
                        formControlName="otherIncome"
                        matInput
                        placeholder="Other Income"
                    />
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field  
                    appearance="outline"   
                >
                    <mat-label>Other Income Type</mat-label>
                    <input
                        formControlName="otherIncomeType"
                        matInput
                        placeholder="Other Income Type"
                    />
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field 
                appearance="outline"  
            >
                <mat-label class="">Frequency</mat-label>
                <input
                    formControlName="frequency"
                    matInput
                    placeholder="Frequency"
                />
            </mat-form-field>
        </div>

<div class="button-set">
    
        <button
                mat-raised-button
                color="primary"
                type="submit"
                class="button-width"
                [disabled]="isDisabled"
            >
                Save
            </button>
            <button
            mat-raised-button
            (click)="clear()"
            color="primary"
            type="submit"
            class="button-width"
            [disabled]="isDisabled"
        >
            clear
        </button>
        <button
        mat-raised-button
        color="primary"
        (click)="close()"
        class="button-width"
    >
        Close
    </button>  
    </div>      
</div>
             
        </mat-card-content>
    </mat-card>
</form>
</div>

