<div class="flex">
    <table>
    <tr>
        <td>
            <div class="">
                <mat-card class="card mat-elevation-z0">
                    <mat-card-title
                        ><mat-icon
                            aria-hidden="false"
                            aria-label="Example home icon"
                            fontIcon="add_to_photos"
                        ></mat-icon
                    ></mat-card-title>
                    <mat-card-subtitle>Add Applicant</mat-card-subtitle>
                    <mat-card-content>
                        <p>
                            This enables the adding and editing of Applicants
                        </p>
                        <button mat-button color="primary" (click)="applicantList()">
                           Add/Edit Applicant
                        </button>
                    </mat-card-content>
                </mat-card>
            </div>
        </td>
    <td>
        <div class="">
            <mat-card class="card mat-elevation-z0">
                <mat-card-title
                    ><mat-icon
                        aria-hidden="false"
                        aria-label="Example home icon"
                        fontIcon="edit"
                    ></mat-icon
                ></mat-card-title>
                <mat-card-subtitle>AG Grid Analytics</mat-card-subtitle>
                <mat-card-content>
                    <p>
                        This allows analytics of applicants
                    </p>
                    <button mat-button color="primary" (click)="aggridList()">
                        Analytics
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
    </td>
    <td>
        <div class="">
            <mat-card class="card mat-elevation-z0">
                <mat-card-title>
                    <mat-icon
                        aria-hidden="false"
                        aria-label="Example home icon"
                        fontIcon="visibility"
                    ></mat-icon>
                </mat-card-title>
                <mat-card-subtitle class="card-align">View Applicant</mat-card-subtitle>
                <mat-card-content>
                    <p>
                        This enables the viewing of applicants
                    </p>
                    <button mat-button color="primary" (click)="applicantList()">
                        View Applicant
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
    </td>
   
    <td>
        <div class="">
            <mat-card class="card mat-elevation-z0">
                <mat-card-title>
                    <mat-icon
                        aria-hidden="false"
                        aria-label="Example home icon"
                        fontIcon="visibility"
                    ></mat-icon>
                </mat-card-title>
                <mat-card-subtitle>Edit Affiliates</mat-card-subtitle>
                <mat-card-content>
                    <p>This enables and viewing and editing of affiliates</p>
                    <button
                        mat-button
                        color="primary"
                        (click)="viewCharacteristics()"
                    >
                       Edit Affiliates
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
    </td>
</tr>
</table> 
</div>

<div class="row">
    
   
</div>
