<div class="example-container">
    <legend>Applicant Search</legend>
    <!-- <p>Applicant Search</p> -->
    <div class="">
        <div class="button-set">
            <div>
                <button   
                mat-raised-button
                color="primary"
                (click)="setTemplate('applicant')"
                class="button-width"
            >
              {{dataService.isEditModeApplicant() ? 'Add Applicant' : 'Add Applicant'}}  
            </button>
                <!-- <button
                *ngIf="!dataService.isEditModeApplicant()"
                mat-raised-button
                color="primary"
                (click)="setTemplate('applicant')"
                class="button-width"
            >
              {{dataService.isEditModeApplicant() ? 'Edit Applicant' : 'Add Applicant'}}  
            </button> -->
            <button
                    *ngIf="isapplicantExists"   
                        mat-raised-button
                        color="primary"
                        (click)="setTemplate('note')"
                        class="button-width"
                    >
                    {{dataService.isEditModeNote() ? 'Edit Note' : 'Add Note'}} 
                    </button>
                    <button
                    *ngIf="isapplicantExists"
                        mat-raised-button
                        color="primary"
                        (click)="setTemplate('employment')"
                        class="button-width"
                    >
                    {{dataService.isEditModeEmployment() ? 'Edit Employment' : 'Add Employment'}} 
                    </button>
                    <button
                    *ngIf="isapplicantExists"
                        mat-raised-button
                        color="primary"
                        (click)="setTemplate('mortgage')"
                        class="button-width"
                    >
                    {{dataService.isEditModeMortgage() ? 'Edit Mortgage' : 'Add Mortgage'}} 
                    </button>
                    <button
                    *ngIf="isapplicantExists"
                        mat-raised-button
                        color="primary"
                        (click)="setTemplate('vehicle')"
                        class="button-width"
                    >
                    {{dataService.isEditModeVehicle() ? 'Edit Vehicle' : 'Add Vehicle'}} 
                    </button>
            
                    <button     
                    mat-raised-button
                    color="primary"
                    (click)="setTemplate('')"
                    class="button-width"
                >
                    Close
                </button>

        </div>
    </div>
<form [formGroup]="searchForm" (ngSubmit)="submit()">
    <mat-card class="example-card success-card">
        <mat-card-header>
            <!-- <mat-card-title class="text">
                Note Form
            </mat-card-title>
            <mat-card-subtitle class="text">{{applicant}}</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            <div class="grid-box">
                <div class="">
                    <mat-form-field 
                    appearance="outline"
                    class="search-field-width"
                    >
                   <mat-label  class="">First Name</mat-label>
                            <input 
                                formControlName="firstName"
                                matInput
                                placeholder="FirstName"
                                style="max-height: 10px;"
                            />             
                        </mat-form-field>
                </div>
                <div class="">
                    <mat-form-field
                    appearance="outline"  
                    class="search-field-width"
                >
                    <mat-label >Last Name</mat-label>
                    <input
                        formControlName="lastName"
                        matInput
                        placeholder="LastName"
                        value=""
                    />
                </mat-form-field>
                </div>
                <div class="">
                    <mat-form-field
                    appearance="outline"   
                    class="search-field-width"
                >
                    <mat-label >Email</mat-label>
                    <input
                        formControlName="email"
                        matInput
                        placeholder="Email"
                        value=""
                    />
                </mat-form-field>
                </div>
               <div class="">
                <mat-form-field
            appearance="outline"
            class="search-field-width"
        >
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
            <mat-option
                *ngFor="let stat of status"
                [value]="stat.viewValue"
            >
                {{ stat.viewValue }}
            </mat-option>
        </mat-select>
        </mat-form-field >
        
        </div> 
        </div>
        <div class="grid-box">
            <div >
                <mat-form-field   appearance="outline" class="search-field-width" >
                    <mat-label>Completion Start Date</mat-label>
                    <input matInput [matDatepicker]="picker"
                    formControlName ="completionStartDate"
                    >
                    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
            <div >
                <mat-form-field   appearance="outline" class="search-field-width">
                    <mat-label>Completion End Date</mat-label>
                    <input matInput [matDatepicker]="picker2"
                    formControlName ="completionEndDate"
                    >
                    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
            </div>
            <div >
                <mat-form-field   appearance="outline" class="search-field-width">
                    <mat-label>Created Start Date</mat-label>
                    <input matInput [matDatepicker]="picker3"
                    formControlName ="createdStartDate"
                    >
                    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                    <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
            </div>
            <div >
                <mat-form-field  appearance="outline" class="search-field-width">
                    <mat-label>Created End Date</mat-label>
                    <input matInput [matDatepicker]="picker4"
                    formControlName ="createdEndDate"
                    >
                   
                    <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                  </mat-form-field>
        
            </div>
        
            </div>
            <div class="grid-box">
                <div>
                    <mat-form-field
                    appearance="outline"  
                    class="search-field-width"  
                >
                <mat-label>Deal Status</mat-label>
                <mat-select formControlName="dealStatus">
                    <mat-option
                        *ngFor="let deal of dealStatus"
                        [value]="deal.viewValue"
                    >
                        {{ deal.viewValue }}
                    </mat-option>
                </mat-select>
                </mat-form-field >
                </div>
                <div >
                    <mat-form-field
                    appearance="outline"  
                    class="search-field-width"  
                >
                    <mat-label >Referral Code</mat-label>
                    <input
                        formControlName="referralCode"
                        matInput
                        placeholder="Referral Code"
                        value=""
                    />
                </mat-form-field >
        
                </div>
                <div >
                    <mat-form-field
                    appearance="outline"  
                    class="search-field-width"  
                >
                <mat-label>Assigned Dealer</mat-label>
                <mat-select formControlName="tempDealerId">
                    <mat-option
                        *ngFor="let dealer of dealers"
                        [value]="dealer.item"
                    >
                        {{ dealer.item }}
                    </mat-option>
                </mat-select>
                </mat-form-field >
               
                   
                </div>
                <div>
                    <mat-form-field
        appearance="outline"  
        class="search-field-width"  
        >
        <mat-label>Applicant Status</mat-label>
        <mat-select formControlName="display">
        <mat-option
            *ngFor="let appl of applicantStatus"
            [value]="appl.viewValue"
        >
            {{ appl.viewValue }}
        </mat-option>
        </mat-select>
        </mat-form-field >
                </div>
            </div>
            <div class="button-set2">
                <button
                (click)="onReset()"
                mat-raised-button
                type="button"
                color="primary"
            >
                clear Search
            </button>
            <button
                (click)="onClearApplicant()"
                mat-raised-button
                type="button"
                color="primary"
            >
                clear Applicant
            </button>
                <button
                mat-raised-button
                color="primary"
                type="submit"
            >
                Search
            </button>
          
            </div>
       </mat-card-content>        
    </mat-card>  
</form>
</div>
<!-- <div class="search-icon">
    <input class="account-row-setter" tabindex="0" voyagerAutoFocus type="text" #searchField />
    <mat-icon class="search-img">search</mat-icon>
    <mat-icon *ngIf="searchValue !== ''" 
        title="Clear"
        class="close-icon"
        (click)="clearSearchField()"
    >close</mat-icon>
</div> -->
<mat-slide-toggle
class="example-margin"
[color]="color"
[checked]="checked"
[disabled]="disabled"
(toggleChange)="toggleChange(c)"
#c
>
Show {{showMoreText}}
</mat-slide-toggle>
<ag-grid-angular
[rowData]="dataService.tableData$ | async"
[columnDefs]="dataService.colsDefs$ | async"
[enableCharts]="true"
[enableRangeSelection]="true"
class="ag-theme-alpine"
style="height:400px; width: 100%; padding-top: 2px; font-size: medium"
(cellClicked)="onCellClicked($event)"
[getRowStyle]="getRowStyle"
[defaultColDef]="defaultColDef"
[pinnedTopRowData]="dataService.pinnedData$ | async"
[pinnedBottomRowData]="dataService.recentlyAccessed$ | async"
[animateRows]="true"
(gridReady)="onGridReady($event)"
[context]="context"
[getRowHeight]="getRowHeight"
[paginationAutoPageSize]="true"
[pagination]="true"
(firstDataRendered)="onFirstDataRendered($event)"
>
</ag-grid-angular>

<ng-template #employment>
    <div class="book-appointment-container scrolling-container">
        <app-employment
        (closeEmploymentButtonClicked)="setTemplate('')"
        ></app-employment>
    </div>
</ng-template>

<ng-template #mortgage>
    <div class="book-appointment-container scrolling-container">
        <app-mortgage (closeMortgageButtonClicked)="setTemplate('')"></app-mortgage>
    </div>
</ng-template>

<ng-template #note>
    <div class="book-appointment-container scrolling-container">
        <app-note (closeNoteButtonClicked)="setTemplate('')"></app-note>
    </div>
</ng-template>

<ng-template #applicant>
    <div class="book-appointment-container scrolling-container">
        <app-applicant
        (closeApplicantButtonClicked)="setTemplate('')"
        ></app-applicant>
    </div>
</ng-template>
<ng-template #applicantview>
    <div class="book-appointment-container scrolling-container">
        <app-applicant-view
        (closeViewButtonClicked)="setTemplate('')"
        ></app-applicant-view>
    </div>
</ng-template>
<ng-template #vehicle>
    <div class="book-appointment-container scrolling-container">
        <app-vehicle
        (closeVehicleButtonClicked)="setTemplate('')"
        ></app-vehicle>
    </div>
</ng-template>

<ng-container #container></ng-container>

